html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
  text-decoration: none;
  padding: 1rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn {
  background-color: #785439;
  border-radius: 8px;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bolder;
  padding: .4em .75em .5em;
}

.link-card:hover .btn {
  background-color: #512200;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  font-family: Georgia, serif;
  font-size: .875rem;
  color: #512200;
  display: inline-block;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  font-weight: bolder;
  margin: 0 0 1rem;
}

p {
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #512200;
}

dd {
  font-style: italic;
}

.btn-wrap {
  text-align: center;
  padding: .4em .75em .5em;
}
