html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  border-color: #9a816d;
  background-color: #dcd4cd;
  border-width: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn {
  background-color: #785439;
  border-radius: 8px;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bolder;
}

.link-card:hover .btn {
  background-color: #512200;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  font-family: Georgia, serif;
  font-size: .875rem;
  color: #512200;
  display: inline-block;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  font-weight: bolder;
}

p {
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #512200;
}

dd {
  font-style: italic;
  display: inline-block;
}

dt {
  display: inline-block;
}
